.dashboard-topbar {
   background: linear-gradient(135deg, #2C5F2D, #97BC62);  /* Green Gradient */
padding: 15px 20px;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 10px;
border: 2px solid #ffffff; /* White border */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-header {
color: white;
font-size: 24px;
font-weight: bold;
margin: 0;
}

.logout-btn {
background-color: #2C5F2D;
color: white;
text-decoration: none;
padding: 8px 15px;
border-radius: 5px;
font-weight: bold;
transition: 0.3s ease;
border: 1px solid #fff;
}

.logout-btn:hover {
background-color: #97BC62;
color: black;
border: 1px solid white;
}